<a href="https://colab.research.google.com/github/Sai-D-beep/Datamining/blob/main/Assignment_19_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    "Employee": ["John", "Sarah", "Mike", "Emma", "Tom"],
    "Department": ["IT", "HR", "IT", "Finance", "HR"],
    "Salary": [60000, 50000, 75000, 65000, 48000],
    "Experience (Years)": [5, 3, 7, 4, 2],
    "Performance Rating": [4.5, 3.8, 4.9, 4.2, 3.5]
}

df = pd.DataFrame(data)
print(df)

  Employee Department  Salary  Experience (Years)  Performance Rating
0     John         IT   60000                   5                 4.5
1    Sarah         HR   50000                   3                 3.8
2     Mike         IT   75000                   7                 4.9
3     Emma    Finance   65000                   4                 4.2
4      Tom         HR   48000                   2                 3.5

In [2]:
average_salary = df.groupby("Department")["Salary"].mean()
print("Average Salary per Department:\n", average_salary)

Average Salary per Department:
 Department
Finance    65000.0
HR         49000.0
IT         67500.0
Name: Salary, dtype: float64

In [3]:
high_performers = df[df["Performance Rating"] > 4.0]
print("Employees with Performance Rating above 4.0:\n", high_performers)

Employees with Performance Rating above 4.0:
   Employee Department  Salary  Experience (Years)  Performance Rating
0     John         IT   60000                   5                 4.5
2     Mike         IT   75000                   7                 4.9
3     Emma    Finance   65000                   4                 4.2

In [4]:
df["Increment"] = df["Salary"] * df["Performance Rating"].apply(lambda x: 0.1 if x > 4.0 else 0.05)
print(df)

  Employee Department  Salary  Experience (Years)  Performance Rating  \
0     John         IT   60000                   5                 4.5
1    Sarah         HR   50000                   3                 3.8
2     Mike         IT   75000                   7                 4.9
3     Emma    Finance   65000                   4                 4.2
4      Tom         HR   48000                   2                 3.5

   Increment
0     6000.0
1     2500.0
2     7500.0
3     6500.0
4     2400.0

In [5]:
df["New Salary"] = df["Salary"] + df["Increment"]
sorted_df = df.sort_values(by="New Salary", ascending=False)
print("Employees sorted by New Salary:\n", sorted_df)

Employees sorted by New Salary:
   Employee Department  Salary  Experience (Years)  Performance Rating  \
2     Mike         IT   75000                   7                 4.9
3     Emma    Finance   65000                   4                 4.2
0     John         IT   60000                   5                 4.5
1    Sarah         HR   50000                   3                 3.8
4      Tom         HR   48000                   2                 3.5

   Increment  New Salary
2     7500.0     82500.0
3     6500.0     71500.0
0     6000.0     66000.0
1     2500.0     52500.0
4     2400.0     50400.0